.header{
    
  height: 100px;
  margin-left: 0.23px;
  background-color: #3B2A9F;
   position: fixed;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 565.52px;
  z-index: 9;
  
}
.group2 #a1 #bar #rec1{
  width: 30.97px;
  height: 4px;
  background-color: #FA8305;
  border-radius: 20px;
}
.group2 #a1 #bar #rec2{
  width: 5px;
  height: 4px;
  border-radius: 20px;
  background-color: #FA8305;
}
.main{
  background-color: #3B2A9F;
}
.main1{
  
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  
}
 .group8{
  width:max-content;
  height: 510px;
  margin-left: 147px;
  padding-top: 203px;
  
  
}
#img1{
  width: 735px;
  height: 761px;
  margin-left: 110px;
  
}
.group8 #p1{
  width: 273px;
  height: 31px;
  font-weight: 700;
  font-size: 20px;
  line-height: 31.04px;
  color: #FA8305;
 
}
.group8 h1{
  width: 479.63px;
  height: 234px;
  margin-top: 17px;
  font-weight: 700;
  font-size: 50px;
  line-height: 77.6px;
  color: #FFFFFF;

  
}
.group8 #p2{
  width: 527px;
  height: 101px;
  margin-top: 26px;
  font-weight: 500;
  font-size: 16px;
  line-height: 32px;
  color: #FFFFFF;
}
.group8 #b2{
  width: 195px;
  height: 53px;
  margin-top: 48px;
  background-color: #FA8305;
  border-radius: 25px;
  border: 1px solid #FA8305;
  white-space: nowrap;
}
#b2 a{
width: 134px;
height: 24px;
font-weight: 500;
color: #FFFFFF;
font-size: 16px;
line-height: 24px;
padding-top: 14px;
padding-left: 31px;
padding-bottom: 15px;
padding-right: 30px;
text-decoration: none;

}
#img2{
  width: 96px;
  height: 30px;
  position: absolute;
  top: 409px;
  left: 649px;
}
#cry{
  width: 101px;
  height: 99px;
  position: absolute;
  top: 202px;
  left: 828px;
}
#img3{
  width: 59px;
  height: 64px;
  position: absolute;
  top: 218px;
  left: 1168px;
  rotate: -0 deg;
}
.main2 p{
width: 404px;
height: 58px;
font-weight: 700;
font-size: 31px;
line-height: 58.13px;
margin-top: 180px;
margin-left: 148px;
color: #FFFFFF;
white-space: nowrap;
font-family: "Rubik", sans-serif;
}
.main2 #b3{
  width: 139px;
  height:57px ;
  border:1px solid #5141AA ;
  background-color: #5141AA;
  border-radius: 10px;
  margin-top: 180px;
  margin-right: 146px;
  color:#FFFFFF;
  font-weight: 500;
  font-size: 20px;
  line-height: 37.5px;
  font-family: "Rubik", sans-serif;
}
.main2{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 603px;
  align-items: center;
}
#b3{
  color: #FFFFFF;
}
.li1{
  width: 251px;
  height: 277px;
  border-radius: 20px;
  
 }
  
 .ul1 .li1:hover{
  opacity: 0.5;
 }
 
 .ul1 p{
  white-space: nowrap;
  height: 24px;
  font-weight: 500;
  font-size: 22px;
  line-height: 41.25px;
  color: #FFFFFF;
  padding-bottom: 40px;
  font-family: "Rubik", sans-serif;
  
 }
 .ul1 #fire{
  width: 18.5px;
  height: 25px;
 }
 .ul1 div{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  gap: 9px;
  align-items: center;
  margin-top: 25px;
  margin-left: 52px;
  
 }
 .ul1{
  display: flex;
  flex-direction: row;
  justify-content:flex-start;
  gap: 47px;
  margin-top: 57px;
  margin-left: 148px;
  list-style:none;
 }
 .txt1{
  width: 826px;
  height: 132px;
  font-weight: 600;
  font-size: 35px;
  line-height: 65.63px;
  text-align: center;
  color: #FFFFFF;
  margin-top: 129px;
  margin-left: 308px;
  margin-right: 306px;
 }
 #txt2{
  width: 209px;
  height: 40px;
  font-weight: 600;
  font-size: 30px;
  line-height: 56.25px;
  color: #FFFFFF;
 }
 #txt3{
  width: 545px;
  height: 101px;
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
  color: #FFFFFF;
  margin-top: 32px;
  white-space: nowrap;
 }
 .main3{
  margin-left: 148px;
  margin-top: 67px;
 }
 
 .ellipse{
  position: absolute;
  width: 196px;
  height: 154px;
  left: 973px;
  
  
  
  
 }
 .img4{
  width: 1146px;
  height: 462px;
  position: relative;
  top: 46px;
  left: 148px;
  right: 146px;
  border-radius: 5px;
  margin-top: 20px;
  
  
  
 }
 #txt4{
  width: 305px;
  height: 56px;
  font-weight: 700;
  font-size: 30px;
  line-height: 56.25px;
  color: #FFFFFF;
  margin-left: 574px;
  white-space: nowrap;
  
 }
 #txt5{
  width: 497px;
  height: 57px;
  font-weight:400;
  font-size: 14px;
  line-height: 26.25px;
  color: #FFFFFF;
  margin-top: 15px;
  text-align: center;
  margin-left: 472px;
 }
 .main4{
  margin-top: 148px;
 }
 #c1{
    width: 371px;
    height: 223px;
    border-radius: 20px;
    
 }
 #c2{
  width: 372px;
  height: 223px;
  border-radius: 20px;
  
 }
 #c3{
  width: 371px;
  height: 223px;
  border-radius: 20px;
  
 }
 #c4{
  width: 246px;
  height: 223px;
  border-radius: 20px;
 }
 #c5{
  width: 401px;
  height: 223px;
  border-radius: 20px;
 }
 #c6{
  width: 469px;
  height: 223px;
  border-radius: 20px;
 }
 .item2{
  display: flex;
  flex-wrap: wrap;
  gap: 27px;
  margin-left: 136px;
  margin-right: 134px;
  margin-top: 71px;
 }
 .item3 #b4{
  width: 139px;
  height:57px ;
  border:1px solid #5141AA ;
  background-color: #5141AA;
  border-radius: 10px;
  margin-left: 651px;
  margin-top: 72px;
  color:#FFFFFF;
  font-weight: 500;
  font-size: 20px;
  line-height: 37.5px;
  font-family: "Rubik", sans-serif;
 }
 