/* 1. don't modify this style */
* {
  padding: 0;
  margin: 0;

  box-sizing: border-box;
}

@font-face {
  font-family: Poppins;
  src: url(css-Gaming-website2028/assets/fonts/Poppins-Bold.ttf);
  src: url(css-Gaming-website2028/assets/fonts/);
}
*{
font-family: Poppins;
}
/* 2. we use :root for default variables */
:root {
  /* --"somekey-attr": "somevalue" i.e : */
  --black-700: #000;
}
/* 3. and we use it like this */
.elementOne {
  /* var(--"somekey-attr") */
  background-color: var(--black-700);
}


/* good luck */
body{
  width: 1440px;
   
  
}
.header{
  
  height: 100px;
  margin-left: 0.23px;
  background-color: #3B2A9F;
 position: fixed;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 565.52px;

}

.header #logo{
  margin-bottom: 30px;
  margin-top: 25px;
  margin-left: 59.18px;
  width: 81.93px;
  height: 45px;
  font-weight: 800;
  font-size: 29px;
  line-height: 44.51px;
  color: #FFFFFF;

}
.group3{
 
  display: flex;
  justify-content: space-between;
  gap: 36.13px;
  margin-right: 59.18px;
  margin-top: 32px;
  margin-bottom: 26.6px;
  align-items: center;
}
.group3 .group2{
display: flex;
justify-content: space-between;
gap: 88px;


}

.group2 a{
  text-decoration: none;
  color: #FFFFFF;
  width: 50.6px;
  height: 24.2px;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  
  
}
.group2 #a1{
  width: 50.6px;
  height: 24.2px;
}
.group2 #a2{
  width: 70.63px;
  height: 24.2px;
}
.group2 #a3{
  width: 74.85px;
  height: 24.2px;
}
.group2 #a4{
  width: 45.33px;
  height: 24.2px;
}
 .group3 #b1{
  width: 131.66px;
  height: 41.34px;
  background-color: #FA8305;
  border: 1px solid #FA8305;
  border-radius: 6px;
  color: #FFFFFF;
  


}
#b1{
  width: 81px;
  height: 20px;
  font-weight: 400;
  font-size: 13px;
  line-height: 19.5px;
  
}
.main{
  background-color: #3B2A9F;
}
.main1{
  
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 98px;
  
  
}
 .group8{
  width:400px;
  height: 510px;
  margin-left: 147px;
  padding-top: 203px;
  
  
}
#img1{
  width: 806px;
  height: 761px;
  margin-left: 125px;
  
}
.group8 #p1{
  width: 273px;
  height: 31px;
  font-weight: 700;
  font-size: 20px;
  line-height: 31.04px;
  color: #FA8305;
}
.group8 h1{
  width: 479.63px;
  height: 234px;
  margin-top: 17px;
  font-weight: 700;
  font-size: 50px;
  line-height: 77.6px;
  color: #FFFFFF;
}
.group8 #p2{
  width: 527px;
  height: 101px;
  margin-top: 26px;
  font-weight: 500;
  font-size: 16px;
  line-height: 32px;
  color: #FFFFFF;
}
.group8 #b2{
  width: 195px;
  height: 53px;
  margin-top: 48px;
  background-color: #FA8305;
  border-radius: 25px;
  border: 1px solid #FA8305;
}
#b2 a{
width: 134px;
height: 24px;
font-weight: 500;
color: #FFFFFF;
font-size: 16px;
line-height: 24px;
padding-top: 14px;
padding-left: 31px;
padding-bottom: 15px;
padding-right: 30px;
text-decoration: none;
}
#img2{
  width: 96px;
  height: 30px;
  position: absolute;
  top: 409px;
  left: 649px;
}
#cry{
  width: 101px;
  height: 99px;
  position: absolute;
  top: 202px;
  left: 828px;
}
#img3{
  width: 59px;
  height: 64px;
  position: absolute;
  top: 218px;
  left: 1168px;
  rotate: -0 deg;
}